<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=algBdBQMLX">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=algBdBQMLX">
<link rel="icon" type="image/png" sizes="194x194" href="/assets/images/favicon-194x194.png?v=algBdBQMLX">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/android-chrome-192x192.png?v=algBdBQMLX">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=algBdBQMLX">
<link rel="manifest" href="/assets/images/site.webmanifest?v=algBdBQMLX">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=algBdBQMLX" color="#ffffff">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=algBdBQMLX">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/images/mstile-144x144.png?v=algBdBQMLX">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=algBdBQMLX">
<meta name="theme-color" content="#ffffff">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2727371712913529",
    enable_page_level_ads: true
  });
</script>

<link rel="stylesheet" href="background.css">

<!-- end custom head snippets -->
